*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}
body{
    background: #192539;
    
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.big-container{
    width: 1400px;
    margin: 0 auto;
}
.s1 .big-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
}
.nav-item{
    margin-left: 80px;
   
}
.nav-link{
    font-weight: bold;
}
.nav-link:hover{
    color: rgba(145, 193, 224, 0.747);
}
.s2 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s2-header{
    margin-top: 150px;
    width: 360px;
    font-family: 'Gill Sans';
    font-size: 45px;
    margin-bottom: 30px;
    /* text-decoration: underline; */
    color: rgb(233, 233, 233);
}
.s2-p{
    font-size: 30px;
    width: 550px;
    line-height: 50px;
    color: #8C8C8C;
}
.s2-p a{
    color: blue;
    margin-left: 30px;
    transition: 0.5s;
}
.s2-p a:hover{
    color: #fff;
}
.s2-hed2{
    color: rgb(233, 233, 233);
    /* text-decoration: underline; */
    font-family: 'Gill Sans';
    font-size: 45px;
    margin-top: 144px;
    margin-bottom: 30px;
}
.s2-div2{
    margin-left: 70px;
}
.s2-item a:hover{
    color: blue;
   
}
.s2-item a{
   
    line-height: 40px;
    font-size: 20px;
  
}

.s2-list .s2-link:hover{
    color: #fff;
}

.s2-list{
    position: relative;
   
}
.img-book{
    position: absolute;
    top: -5px;
    right:  5px;
}
.li{
    margin-bottom: 38px;
    color: #8C8C8C;
}
.container .s2-list .s2-link{
    font-size: 25px;
    color: blue;
   

 }

 .s3-h3{
     color: rgb(233, 233, 233);
     font-size: 50px;
     line-height: 70px;
     text-align: center;
     margin-top: 150px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     margin-bottom: 100px;

 }
 .ul-div{
     display: flex;
     justify-content: space-around;
 }
 .imgi{
     display: flex;
 }
 .img-reciters{
     border-radius: 50%;
 }
 .imgi p{
     line-height: 39px;
     margin-top: 1px;
     margin-left: 100px;
 }
b {
    font-size: 22px;
    
  
}
.img-reciters{
    position: absolute;
}
.imgi{
    margin-bottom: 35px;
    position: relative;
}
audio{
    margin-bottom: 30px;
}
.sura{
    color: rgb(233, 233, 233);
    font-size: 22px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.audio-item{
    position: relative;
    width: 334px;
    margin-right: 128px;
}
.download{
    position: absolute;
    box-sizing: content-box;
   width: 50px;
   height: 30px;
   border-radius: 50%;
   background: #fff;
   padding:12px 2px;
   top:22px;
   right: -30px ;
    
}

.s3{
    padding-left: 100px;
   
}
.s3-h3{
   margin-right: 100px;
}
.imgi{
    width: 350px;
    margin-bottom: 50px;
}
.a-link{
    color: #0000ff;
    font-size: 23px;
    margin-left: 5px;
    
}
.a-link:hover{
    color: #fff;
    text-decoration: underline;
  
}
.s2-list .s2-link:hover{
    color: #fff;
    text-decoration: underline;
}
.a-link{
    transition: 0.5s;
    
  
}
.s2-list .s2-link{
transition: 0.5s;

}
.s2-item a:hover{
    transition: 0.7s;

}

.s2-p a:hover{
    text-decoration: underline;
}

.imgi p{
    color: #8C8C8C;
}
.imgi b{
    color: #fff;
}

.h5-div{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 70px;
}
  
.h5-div h5{
    color: rgb(233, 233, 233);
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}


h6{
    color: rgb(233, 233, 233);
    text-align: center;
    font-size: 45px;
    margin-top: 120px;
    margin-bottom: 70px;
}

.app{
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}
.play{
width: 235px;
}
.app li{
    margin: 30px;
    margin-top: 0;
}
.one{
    text-align: center;
    color: rgb(233, 233, 233);
    font-size: 45px;
    margin-top: 130px;
    margin-bottom:50px ;
  
}
.samsung{
    display: flex;
    justify-content: space-around;
    margin-bottom:40px ;
   
}
.copy, .mac-app{
    text-align: center;
    margin-bottom: 30px;
    color: #8C8C8C;
}
.samsung li{
    color: #8C8C8C;
}

.btn_nav{
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 8px;
    font-size: 18px;
    border: none;
    border-radius: 2px;

}
.btn_nav:hover{
    background: rgba(145, 193, 224, 0.747);
}

#li{
    color: red;
    opacity: 10%;
}